# Security key for Flask sessions. Generate a strong random string.
SECRET_KEY=change_me_to_something_secure_random

# Enable debug mode (True/False). Should be False in production.
DEBUG=False

# Admin password for the web interface (Username is 'admin')
ADMIN_PASSWORD=admin
